/* GENERAL */

body {
    background-color: #0a1926;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding-top: 0;
    max-width: 1200px;
}

/*header {
    background-color: #000;
}*/

section {
    background-color: #000;
    padding: 50px 0 0;
    /*padding-top: 0px;*/
    /*padding-bottom: 0px;*/
}

/*section:nth-child(odd) {
    background-color: #202020;
}*/

p {
    color: #818786;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Chakra', sans-serif;
    text-align: justify;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    color: #405a74;
    text-decoration: none;
}

a:hover {
    color: #ff9f1e;
    text-decoration: none;
}

hr {
    width: 50px;
    border: solid 2px #405a74;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.page-title {
    margin-top: 0;
    color: #FF9404;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

.page-subtitle {
    color: #ffcd37;
    font-size: 18px;
    margin: 10px 40px 60px;
    text-align: center;
}

/*.margin-bottom-xs {
    margin-bottom: 50px;
}*/

/*.margin-bottom {
    margin-bottom: 65px;
}*/

/*span.highlight {
    color: rgba(255, 76, 4, 0.8);
}*/

@media (min-width:768px) {

    p {
        /*color: #818786;*/
        font-size: 16px;
        line-height: 22px;
        /*font-family: 'Chakra', sans-serif;*/
        /*text-align: justify;*/
    }

    .page-title {
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .page-subtitle {
        font-size: 20px;
        margin: 10px 0 50px;
    }

    .margin-bottom-xs {
        margin-bottom: 0;
    }
}

/*larger font size on large screens*/

@media (min-width:992px) {
    /*p {
        font-size: 16px;
    }*/
    .page-title {
        font-size: 28px;
    }

    .page-subtitle {
        font-size: 25px;
    }

    .package>h4 {
        font-size: 20px;
    }

}

/*GENERAL-END*/

/* VISIBITY-CLASSES */

.visible-xs {
    display: block !important;
}

.hidden-xs {
    display: none !important;
}

@media (min-width: 768px) {
    .row .visible-xs {
        display: none !important;
    }

    .row .hidden-xs {
        display: block !important;
    }
}

/* VISIBITY-CLASSES-END */

/* FONT-AWESOME-ICONS */

.font-awesome-icon .fa {
    color: #ff9f1e;
}

.font-awesome-icon {
    margin: 20px 0 0;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

/* FONT-AWESOME-ICONS-END */

/* NAVBAR */

.dropdown {
    height: 60px;
    max-width: 1200px;
}

.dropdownMenu {
    position: relative;
    top: 0;
    left: 0;
    background-color: #000;
    overflow: hidden;
    width: 100%;
    height: 60px;
}

/* Style the links inside the navigation bar */

.dropdownLink {
    float: left;
    display: block;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the background color of navbar links on hover */

.dropdownLink:hover {
    background-color: #222;
}

/* Position hamburger icon in line with nav links */

.dropdown a.hamburgerIcon {
    position: relative;
    top: 2px;
    right: 10px;
}

/* Hide the link that should open and close the topnav on small screens */

.hamburgerIcon {
    display: none;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
}

.fixedMenu {

    position: fixed;
    top: 25%;
    width: 130px;
    right: -120px;
    border-left: 12px solid #ff9404;
    transition: all .9s ease-in-out;
    z-index: 2;
}

.fixedMenu > a.dropdownLink {
    float: right;
    display: block;
    text-align: left;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
    background-color: rgb(24, 24, 27);
    transition: all .5s ease-in-out;
    width: 100px;
    z-index: 11;
}

.fixedMenu:hover {
    right: 0;
    border-color: #333;
}

.fixedMenu > a.dropdownLink:hover {
    background-color: #222;
}

/* When the screen is less than 600px pixels wide, hide all links. Make icon visible and position to the right The "mobileMenu" class replaces "dropDownMenu" with JavaScript when the user clicks on the hamburger icon. This class makes the dropdown navbar look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
    .dropdownMenu a {
        display: none;
    }

    .hamburgerIcon a {
        float: right;
        display: block;
    }

    .dropdownMobile {
        position: relative;
    }

    .hamburgerIcon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #000;
        width: 100%;
    }

    .dropdownMobile a {
        background-color: #000;
        border-top: 2px solid #444;
        display: block;
        float: none;
        transform: translateY(60px);
        text-align: left;
        width: 200px;
        padding-left: 20px;
        z-index: 1;
    }
}

/* NAVBAR-END */

/* BANNER */

.bg-banner {
    color: #FFF;
    background-color: rgb(34, 49, 63);
    /*background-image: url(/resume/assets/img/bg.jpg);*/
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-banner-inner {
    background-color: rgba(34, 49, 63, 0.5);
    padding-top: 180px;
    /*padding-bottom: 10px;*/
    margin: 0 -30;
}

.banner-title {
    color: #FF9404;
    position: relative;
    top: 0px;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 8px #000;
    max-width: 700px;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: uppercase;
}

.banner-subtitle {
    color: #ffcd37;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 8px #000;
    margin: 30px 0 50px;
    text-align: center;
}

.contact-bg {
    margin: 180px 0 0px;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px 0;
}

/*.contact {
    margin: 190px 0 0px;
    background-color: rgba(0,0,0,.5);
    padding: 20px 0;
}*/

.address>h4,
.contact>h4 {
    margin: 10px 0 18px;
    font-size: 20px;
    text-align: center;
}

.address>ul>li,
.contact>ul>li {
    color: #818786;
    font-size: 12px;
    margin: 5px 0;
    text-align: center;
    text-shadow: 4px 4px 8px #000;
}

@media (min-width:768px) {

    .banner-title {
        font-size: 50px;
    }

    .banner-subtitle {
        font-size: 40px;
    }

    .address>h4,
    .contact>h4 {
        margin: 10px 0 20px 10px;
        font-size: 22px;
        text-align: left;
    }

    .address>ul>li,
    .contact>ul>li {
        /*color: #818786;*/
        font-size: 15px;
        margin: 10px 0;
        text-align: left;
        /*text-shadow: 4px 4px 8px #000;*/
    }
}

@media (min-width:992px) {

    .banner-title {
        font-size: 60px;
    }

    .banner-subtitle {
        font-size: 50px;
    }
}

/* BANNER-END */

/* PROFESSIONAL-PROFILE */

/*.page-title--profile {
    font-size: 25px;
    margin: 60px 0 20px;
    text-align: center;
}
*/

/*.page-title--profile,
.page-title--skills {
    text-align: center;
}*/

/*.profile, .objective {
    margin: 0 50px 50px;
    text-align: justify;
}*/

/*.profile-img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    width: 90%;
}*/

@media (min-width: 768px) {
    .img-div {
        height: 200px;
        width: 200px;
    }

    /*.profile-img {
        position: relative;
        height: 100%;
        width: 82%;
        margin: 70px 0 100px;
        box-sizing: content-box;
    }*/
}

@media (min-width: 820px) {
    /*.profile, .objective {
        margin: 50px;
    }*/
    .page-title--profile {
        font-size: 30px;
        margin-bottom: 10px;
        text-align: left;
    }
}

@media (min-width:992px) {
    .page-title--profile {
        font-size: 35px;
        margin-bottom: 15px;
        text-align: left;
    }

    /*.profile-img {
        height: 125%;
        width: 101%;
        margin: 85px 0 0 40px;
    }*/
}

/* PROFESSIONAL-PROFILE-END */

/* TECHNICAL-SKILS */

.font-awesome-icon--technical-skills {
    margin-top: 15px;
}

/*fix to position mobile icon correctly*/

/*.font-awesome-icon--technical-skills>.fa-mobile {
    margin: -10px;
}*/

.technical-skills {
    margin: 0 0 20px;
}

.technical-skills>h5 {
    color: #405a74;
    font-size: 14px;
    margin: 10px 0 25px;
    text-align: center;
}

.technical-skills img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

/*select all but the 1st 3 imgs & give them rounded borders*/

/*.technical-skills img:nth-child(4) {
    border: 2px solid blue;
    border-radius: 20px;
}*/

.square-img {
    border: 2px #000;
    border-radius: 20px;
}



/*.technical-skills>p {
    color: #5e5a5a;
    text-align: center;
}*/

@media (min-width: 410px) {
    .technical-skills>h5 {
        /*color: #405a74;*/
        font-size: 16px;
        /*margin: 10px 0 25px;*/
        /*text-align: center;*/
    }  
}

@media (min-width:768px) {
    /*.technical-skills {
        margin: 0 0 0 15px;
    }*/

    .technical-skills>h5 {
        font-size: 20px;
    }

    /*.technical-skills>p {
        text-align: left;
    }*/

    .technical-skills img {
        width: 55%;
        height: 55%;
    }
}

/*@media (min-width:992px) {
    .technical-skills>h5 {
        font-size: 18px;
    }
}*/

/* TECHNICAL-SKILS-END */

/*DEVELOPER-TOOLS*/

.developer-tools li,
.online-marketing li,
.qualifications li,
.hobbies li {
    color: #818786;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
}

.developer-tools li>span,
.online-marketing li>span,
.qualifications li>span,
.hobbies li>span {
    color: #405a74;
    font-size: 12px;
}

@media (min-width: 410px) {
    .developer-tools li>span,
    .online-marketing li>span,
    .qualifications li>span,
    .hobbies li>span {
        /*color: #405a74;*/
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .developer-tools li,
    .online-marketing li,
    .qualifications li,
    .hobbies li {
        font-size: 14px;
    }

    .developer-tools li>span,
    .online-marketing li>span,
    .qualifications li>span,
    .hobbies li>span {
        font-size: 16px;
    }
}


/*DEVELOPER-TOOLS-END*/

/* PORTFOLIO */

/*left and right margin for portfolio section on medium and large screens*/

/*@media (min-width: 768px) {
    .row-portfolio {
        margin: 0 12px;
    }
}*/

.portfolio-img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 50px;
    border: 2px solid #222;
}

.overlay-container-1,
.overlay-container-2,
.overlay-container-3,
.overlay-container-4,
.overlay-container-5,
.overlay-container-6 {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    height: 100%;
    max-width: 80%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
}

.overlay-text {
    color: #FF9404;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.overlay-container-1:hover .overlay,
.overlay-container-2:hover .overlay,
.overlay-container-3:hover .overlay,
.overlay-container-4:hover .overlay,
.overlay-container-5:hover .overlay,
.overlay-container-6:hover .overlay {
    opacity: 1;
}

/*add dark grey border to only mousecodedesign site img*/

/*.row-portfolio:nth-of-type(3) .col:nth-of-type(2) .portfolio-img {
    border: 2px solid #222;
}*/

@media (min-width: 410px) {
    .overlay-text {
        font-size: 30px;
    }
}

@media (min-width:768px) {
    .portfolio-img {
        width: 100%;
        height: 100%;
    }

    .overlay-text {
        font-size: 28px;
    }
}

/* PORTFOLIO-END */

/*CAREER*/

/*.bg-career-history .career {
    margin-bottom: 40px;
}*/

.career > h4 {
    color: #405a74;
    font-size: 12px;
    margin: 30px 0 15px 52px;
}

ul.career-title {
    margin-bottom: 10px;
    width: 100%;
}

ul.career-title > li{
    color: #405a74;
    float: left;
    font-size: 12px;
    display: inline-block;
    list-style: none;
    padding-right: 5%;
    text-align: left;
    width: 30%;
}

/*fix for career-list heading below 410px width*/

/*ul.homeopath > li {
    font-size: 12px;
}*/


@media (min-width: 410px) {
    .career > h4 {
        /*color: #405a74;*/
        font-size: 14px;
        /*margin: 30px 0 15px 52px;*/
    }    

    ul.career-title > li {
        font-size: 14px;
    }
}


/*align 2nd list item to right to compensate for padding on right for small screens*/
/*.career ul > li:nth-of-type(2) {
    text-align: right;
}*/

ul.career-title > li:nth-of-type(2) {
    text-align: center;
}

ul.career-title > li:nth-of-type(3) {
    text-align: right;
    padding-right: 0;
}

ul.career-list {
    list-style: none;
    max-width: 90%;
    margin: 0 auto;
}

ul.career-list > li {
    text-align: left;
    color: #818786;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 15px;
    position: relative;
    left: 25px;
}

ul.career-list > li:before {
    content: "\f005"; /*fontAwesome Unicode - fa-star*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color:#ffcd37;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: -30px;
}

ul.responsiblities-list > li:before {
    content: "\f0b1"; /*fontAwesome Unicode - fa-briefcase*/
    color: #7d5f2d;
}

/*.career ul:nth-of-type(3) > li:before {
    content: "\f0b1"; fontAwesome Unicode - fa-briefcase
    color: #7d5f2d;
}*/


ul.publications-list > li:before {
    content: "\f02d"; /*fontAwesome Unicode - fa-book*/
    color: #9bbb78;
}

/*.career ul:nth-of-type(4) > li:before {
    content: "\f02d"; fontAwesome Unicode - fa-book
    color: #9bbb78;
}*/

.bg-career-history .career:not(first-child) {
    margin-top: 60px;
}

@media (min-width: 768px) {
    /*switch text-align to center for medium & large screens*/
    /*ul.career-title > li:nth-of-type(2) {
        text-align: center;
    }*/

    /*.career {
        margin: 0 6%;
    }*/

    ul.career-title > li {
        /*color: #405a74;*/
        /*float: left;*/
        font-size: 16px;
        /*display: inline-block;*/
        /*list-style: none;*/
        padding-right: 5%;
        /*text-align: left;*/
        /*width: 30%;*/
    }

    .career > h4 {
        /*color: #405a74;*/
        font-size: 16px;
        margin: 40px 0 20px 60px;
    }

    ul.career-list > li {
        /*text-align: left;*/
        /*color: #818786;*/
        font-size: 14px;
        /*margin-bottom: 20px;*/
        /*line-height: 15px;*/
        /*position: relative;*/
        left: 30px;
    }

    ul.career-list > li:before {
        /*content: "\f005"; fontAwesome Unicode - fa-star*/
        /*font-family: FontAwesome;*/
        /*font-style: normal;*/
        /*font-weight: normal;*/
        /*color:#ffcd37;*/
        font-size: 16px;
        /*position: absolute;*/
        /*top: 0;*/
        left: -35px;
    }
}


/*CAREER-END*/


/*SERVICES*/

/*.progress {
    background-color: #121212;
    border-radius: 4px;
}*/

/*.progress-bar {
    background-color: #34495E;
}*/

/*.font-awesome-icon--services {
    margin-top: 15px;
}*/

/*fix to position mobile icon correctly*/

/*.font-awesome-icon--services>.fa-mobile {
    margin: -10px;
}

.services {
    margin: 0 0 20px;
}

.services>h5 {
    color: #405a74;
    font-size: 18px;
    margin: 10px 0 25px;
    text-align: center;
}

.services>p {
    color: #5e5a5a;
    text-align: center;
}

@media (min-width:768px) {
    .services {
        margin: 0 0 0 15px;
    }

    .services>h5 {
        font-size: 16px;
        margin: 10px 0;
        text-align: left;
    }

    .services>p {
        text-align: left;
    }
}

@media (min-width:992px) {
    .services>h5 {
        font-size: 18px;
    }
}*/

/* SERVICES-END */

/* PACKAGES */

/*.package {
    background-color: #ECF9BF;
    border: 6px solid #405a74;
    border-radius: 4px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    max-width: 90%;
}

.package>h4 {
    color: #ff4c04;
}

.package>p {
    color: #333;
    padding: 15px;
    text-align: justify;
}

.package>p:nth-of-type(2) {
    text-align: center;
}

.package>ul>li {
    color: #333;
    padding-bottom: 10px;
    list-style: none;
}

.package>ul>li>hr {
    border: 1px solid #405a74;
    margin: 0 auto;
    padding: 0;
    width: 90%;
} */

/*reduce packages divs width on small screens 380px and above*/

/*@media (min-width:380px) {
    .package {
        max-width: 70%;
    }
}

@media (min-width:768px) {
    .package {
        margin: 0;
    }

    .package {
        margin: 0;
        max-width: 100%;
    }
}*/

/*PACKAGES-END*/

/* SKILLS */

/*.skills {
    margin: 0 auto;
    width: 70%;
}

.skills>h5 {
    color: #ff9404;
    font-size: 14px;
}*/

/*progress bar header styles for medium screen*/

/*@media (min-width:768px) {
    .skills>h5 {
        font-size: 16px;
    }
}*/

/*progress bar header styles for large screen*/

/*@media (min-width:992px) {
    .skills>h5 {
        font-size: 18px;
    }
}*/

/*SKILLS-END*/
