/* GENERAL */

body {
    background-color: #0a1926;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding-top: 0;
    max-width: 1000px;
}

section {
    background-color: #000;
    padding: 50px 0 0;
}

section:last-of-type {
    padding-bottom: 50px;
}

p {
    color: #818786;
    font-size: 14px;
    line-height: 25px;
    /*font-family: 'Chakra', sans-serif;*/
    text-align: justify;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    color: #587da2;
    text-decoration: none;
}

a:hover {
    color: #ff9f1e;
    text-decoration: none;
}

hr {
    width: 50px;
    border: solid 2px #405a74;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.page-title {
    margin-top: 0;
    color: #FF9404;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

.page-subtitle {
    color: #ffcd37;
    font-size: 18px;
    margin: 10px 40px 60px;
    text-align: center;
}

@media (min-width:768px) {

    p {
        font-size: 16px;
        line-height: 22px;
    }

    .page-title {
        margin-top: 0;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .page-subtitle {
        font-size: 20px;
        margin: 10px 0 50px;
    }
}

/*larger font size on large screens*/

@media (min-width:992px) {
    p {
        font-size: 18px;
    }
    .page-title {
        font-size: 28px;
    }

    .page-subtitle {
        font-size: 25px;
    }
}

/*GENERAL-END*/

/* VISIBITY-CLASSES */

.visible-xs {
    display: block !important;
}

.hidden-xs {
    display: none !important;
}

@media (min-width: 768px) {
    .row .visible-xs {
        display: none !important;
    }

    .row .hidden-xs {
        display: block !important;
    }
}

/* VISIBITY-CLASSES-END */

/* NAVBAR */

.dropdown {
    height: 60px;
    max-width: 1200px;
}

.dropdownLink {
    display: none;
}

.hamburgerIcon a {
    float: right;
    display: block;
}

.dropdownMobile {
    position: relative;
}

/*The "mobileMenu" class replaces "dropDownMenu" with JavaScript when the user clicks on the hamburger icon. This class makes the dropdown navbar look good on small screens, display the links vertically instead of horizontally*/
.hamburgerIcon {
    background-color: #18181b;
    display: block;
    font-size: 20px;
    padding: 10px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 100%;
}

.dropdownMobile a {
    background-color: #18181b;
    border-top: 2px solid #444;
    display: block;
    float: none;
    transform: translateY(60px);
    text-align: left;
    width: 200px;
    padding: 15px;
    z-index: 1;
}

.dropdownMobile a:hover {
    background-color: #222;
}


/* When the screen reaches 600px pixels wide, unhide all links. Add additional styles to last link. Remove hamburger icon. */
@media (min-width:600px) {
    .dropdownMenu {
        position: relative;
        top: 0;
        left: 0;
        background-color: #18181b;
        overflow: hidden;
        width: 100%;
        height: 60px;
    }

    /* Style the links inside the navigation bar */
    .dropdownLink {
        float: left;
        display: block;
        text-align: center;
        padding: 24px;
        text-decoration: none;
        font-size: 14px;
    }

    /* Change the background color of navbar links on hover */
    .dropdownLink:hover {
        background-color: #222;
    }

    /*additional styles for contact link, added parent class to selector so style isn't applied to fixed menu*/
    .dropdownMenu > .dropdownLink:last-child {
        float: right;
        background-color: #202020;
        color: #ff9f1e;
        margin: 12px 10px;
        padding: 10px;
        border: solid 2px transparent;
        border-radius: 4px;
    }

    .dropdownLink:last-child:hover{
        background-color: #000;
        border: 2px solid #405A74;
        color: #FF4C04;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }

    /* Hide the link that should open and close the topnav on small screens */
    .hamburgerIcon {
        display: none;
    }
}

/* NAVBAR-END */

/* FIXED-MENU */

/*reposition and add border for fixed menu*/
.fixedMenu {
    position: fixed;
    top: 50%;
    width: 200px;
    right: -190px;
    border-left: 12px solid #ff9404;
    border-left-color: rgb(255, 148, 4);
    z-index: 1;
    transform: translateY(-50%);
    height: 336px;
}

/*restyles links for fixed Menu*/
.fixedMenu > a.dropdownLink {
    display: block;
    text-align: left;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 25px;
    font-size: 16px;
    background-color: rgb(24, 24, 27);
    width: 100%;
    z-index: 1;
    border: none;
    border-radius: 0;   
    color: #587da2;
    margin: 0;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

/*make fixed menu visible when hovering on border, change border color on hover */
.fixedMenu:hover {
    right: 0;
    border-color: #333;
    transition: right .9s ease-in-out;
}

/*had to add :not(:hover) to get transition effect when hover ends. adding transition to .fixedMenu class created strange transition effect then menu first appears*/
.fixedMenu:not(:hover) {
    transition: right .9s ease-in-out;
}

/*removes transition effect when nabar link is clicked so fixed menu is initally hidden*/
.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/*initially hides fixed menu when nav bar link it clicked, is immediately replaced with noTransition class*/
.hideFixedMenu {
    display: none !important;
}

.fixedMenu > a.dropdownLink:hover {
    background-color: #222;
    border: none;
    color: #ff9f1e;
}

/*FIXED-MENU-END*/

/* BANNER */

.bg-banner {
    color: #FFF;
    background-color: rgb(34, 49, 63);
    /*background-image: url(/resume/assets/img/bg.jpg);*/
    background-image: url(../img/banner-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
}

.bg-banner-inner {
    background-color: rgba(34, 49, 63, 0.5);
    padding-top: 120px;
    /*margin: 0 -30;*/
}

.banner-title {
    color: #FF9404;
    position: relative;
    top: 0px;
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    text-shadow: 4px 4px 8px #000;
    max-width: 700px;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: uppercase;
}

.banner-subtitle {
    color: #ffcd37;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
    text-shadow: 4px 4px 8px #000;
    margin: 30px 0 50px;
    text-align: center;
}

.contact-details-bg {
    background-color: rgba(0, 0, 0, .5);
    height: 650px;
    margin: 120px 0 0px;
    padding: 20px 0;
}

.address > h4,
.contact-details > h4 {
	margin: 8px 0;
	font-size: 18px;
	text-align: center;
}

.address>ul>li,
.contact-details>ul>li {
    color: #99b4b0;
    font-size: 10px;
    margin: 5px 0;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}

@media (min-width: 421px) {
    .bg-banner {
    	/*color: #FFF;*/
    	/*background-color: rgb(34, 49, 63);*/
    	/* background-image: url(/resume/assets/img/bg.jpg); */
    	/*background-image: url(../img/banner-image.jpg);*/
    	/*background-repeat: no-repeat;*/
    	/*background-position: center;*/
    	/*background-size: cover;*/
    	/*background-attachment: fixed;*/
    	height: 1220px;
    }
    
    .bg-banner-inner {
    	/*background-color: rgba(34, 49, 63, 0.5);*/
    	padding-top: 140px;
    	/* margin: 0 -30; */
    }
    
    .banner-title {
    	/*color: #FF9404;*/
    	/*position: relative;*/
    	/*top: 0px;*/
    	/*font-family: 'Cabin', sans-serif;*/
    	font-size: 40px;
    	/*text-shadow: 4px 4px 8px #000;*/
    	/*max-width: 700px;*/
    	/*margin: 0 auto 10px;*/
    	/*text-align: center;*/
    	/*text-transform: uppercase;*/
    }
    
    .banner-subtitle {
    	/*color: #ffcd37;*/
    	/*font-family: 'Chakra Petch', sans-serif;*/
    	font-size: 30px;
    	/*text-shadow: 4px 4px 8px #000;*/
    	/*margin: 30px 0 50px;*/
    	/*text-align: center;*/
    }
    
    .contact-details-bg {
        /*background-color: rgba(0, 0, 0, .5);*/
        height: 800px;
        margin: 140px 0 0px;
        /*padding: 20px 0;*/
    }

    .address>h4,
    .contact-details>h4 {
        margin: 16px 0 12px;
        font-size: 18px;
        text-align: center;
    }
    .address > ul > li, .contact-details > ul > li {
    	font-size: 11px;
    	text-align: center;
    	margin: 5px 0;
    }
}

@media (min-width: 450px) {
    .bg-banner {
    	/*color: #FFF;*/
    	/*background-color: rgb(34, 49, 63);*/
    	/* background-image: url(/resume/assets/img/bg.jpg); */
    	/*background-image: url(../img/banner-image.jpg);*/
    	/*background-repeat: no-repeat;*/
    	/*background-position: center;*/
    	/*background-size: cover;*/
    	/*background-attachment: fixed;*/
    	height: 1400px;
    }
    
    .bg-banner-inner {
    	/*background-color: rgba(34, 49, 63, 0.5);*/
    	padding-top: 160px;
    	/* margin: 0 -30; */
    }
    
    .contact-details-bg {
        /*background-color: rgba(0, 0, 0, .5);*/
        height: 950px;
        margin: 160px 0 0px;
        /*padding: 20px 0;*/
    }

    .address>h4,
    .contact-details>h4 {
        margin: 16px 0;
        font-size: 20px;
        text-align: center;
    }
    .address>ul>li,
    .contact-details>ul>li {
        font-size: 12px;
        text-align: center;

    }
}

@media (min-width: 531px) {
    .address>ul>li,
    .contact-details>ul>li {
        font-size: 14px;
    }
}

@media (min-width:768px) {
    .bg-banner {
    	/*color: #FFF;*/
    	/*background-color: rgb(34, 49, 63);*/
    	/* background-image: url(/resume/assets/img/bg.jpg); */
    	/*background-image: url(../img/banner-image.jpg);*/
    	/*background-repeat: no-repeat;*/
    	/*background-position: center;*/
    	/*background-size: cover;*/
    	/*background-attachment: fixed;*/
    	height: 1450px;
    }
    
    .bg-banner-inner {
    	/*background-color: rgba(34, 49, 63, 0.5);*/
    	padding-top: 180px;
    	/* margin: 0 -30; */
    }
 
    .contact-details-bg {
        /*background-color: rgba(0, 0, 0, .5);*/
        height: 950px;
        margin: 180px 0 0px;
        /*padding: 20px 0;*/
    }


    .banner-title {
        font-size: 50px;
    }

    .banner-subtitle {
        font-size: 40px;
    }

    .address,
    .contact-details {
        margin: 20px 0 0 40px;
    }

    .address>h4,
    .contact-details>h4 {
        margin-bottom: 16px;
        font-size: 22px;
        text-align: left;
    }

    .address>ul>li,
    .contact-details>ul>li {
        font-size: 14px;
        margin: 10px 0;
        text-align: left;
    }
}

@media (min-width:992px) {

    .banner-title {
        font-size: 60px;
    }

    .banner-subtitle {
        font-size: 50px;
    }

    .address,
    .contact-details {
        margin-left: 50px;
    }

    .contact-details {
        margin-left: 15px;
    }

    .address>h4,
    .contact-details>h4 {
        /*margin-left: 20px;*/
        font-size: 26px;
        /*text-align: left;*/
    }

    .address>ul>li,
    .contact-details>ul>li {
        font-size: 18px;
        /*margin: 10px 0;*/
        text-align: left;
    }
}

/* BANNER-END */

/* PROFESSIONAL-PROFILE */

/*.profile-img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    width: 90%;
}*/

/*@media (min-width: 768px) {
 
}*/

/*@media (min-width:992px) {
    
}*/

/* PROFESSIONAL-PROFILE-END */

/* TECHNICAL-SKILLS */

.technical-skills {
    margin: 0 0 20px;
}

.technical-skills>h5 {
    color: #587da2;
    font-size: 14px;
    margin: 10px 0 25px;
    text-align: center;
}

.technical-skills img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.square-img {
    border: 2px #000;
    border-radius: 20px;
}

@media (min-width: 410px) {
    .technical-skills>h5 {
        font-size: 16px;
    }  
}

@media (min-width:768px) {
    .technical-skills>h5 {
        font-size: 20px;
    }

    .technical-skills img {
        width: 55%;
        height: 55%;
    }
}

@media (min-width:992px) {
    .technical-skills>h5 {
        font-size: 22px;
    }

    .technical-skills img {
        width: 50%;
        height: 50%;
    }
}

/* TECHNICAL-SKILS-END */

/*DEVELOPER-TOOLS*/

.developer-tools li,
.online-marketing li,
.qualifications li,
.hobbies li {
    color: #818786;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
}

/*.developer-tools li,
.online-marketing li,
.qualifications li {
    text-align: center;
}*/

.developer-tools li>span,
.online-marketing li>span,
.qualifications li>span,
.hobbies li>span {
    color: #587da2;
    font-size: 12px;
}

@media (min-width: 410px) {
    .developer-tools li>span,
    .online-marketing li>span,
    .qualifications li>span,
    .hobbies li>span {
        font-size: 14px;
    }
}

@media (min-width: 768px) {

    /*.developer-tools li,*/
    /*.online-marketing li,*/
    .qualifications li {
        text-align: center;
    }
    .developer-tools li,
    .online-marketing li,
    .qualifications li,
    .hobbies li {
        font-size: 14px;
    }

    .developer-tools li>span,
    .online-marketing li>span,
    .qualifications li>span,
    .hobbies li>span {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .developer-tools li,
    .online-marketing li,
    .qualifications li,
    .hobbies li {
        font-size: 16px;
    }

    .developer-tools li>span,
    .online-marketing li>span,
    .qualifications li>span,
    .hobbies li>span {
        font-size: 18px;
    }
}

/*DEVELOPER-TOOLS-END*/

/* PORTFOLIO */

.portfolio-img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 50px;
    border: 2px solid #222;
}

.overlay-container-1,
.overlay-container-2,
.overlay-container-3,
.overlay-container-4,
.overlay-container-5,
.overlay-container-6 {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    height: 100%;
    max-width: 80%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 auto;
}

.overlay-text {
    color: #FF9404;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.overlay-container-1:hover .overlay,
.overlay-container-2:hover .overlay,
.overlay-container-3:hover .overlay,
.overlay-container-4:hover .overlay,
.overlay-container-5:hover .overlay,
.overlay-container-6:hover .overlay {
    opacity: 1;
}

@media (min-width: 410px) {
    .overlay-text {
        font-size: 30px;
    }
}

@media (min-width:768px) {
    .portfolio-img {
        width: 100%;
        height: 100%;
    }

    .overlay-text {
        font-size: 28px;
    }
}

@media (min-width:992px) {
    .portfolio-img {
        width: 80%;
        height: 80%;
    }

    .overlay-text {
        font-size: 30px;
    }
}

/* PORTFOLIO-END */

/*CAREER*/

.career > h4 {
    color: #587da2;
    font-size: 12px;
    margin: 30px 0 15px 52px;
}

ul.career-title {
    margin-bottom: 10px;
    width: 100%;
}

ul.career-title > li{
    color: #587da2;
    float: left;
    font-size: 12px;
    display: inline-block;
    list-style: none;
    padding-right: 5%;
    text-align: left;
    width: 30%;
}

/*fix for career-list heading below 410px width*/
@media (min-width: 410px) {
    .career > h4 {
        font-size: 14px;
    }    

    ul.career-title > li {
        font-size: 14px;
    }
}

ul.career-title > li:nth-of-type(2) {
    text-align: center;
}

ul.career-title > li:nth-of-type(3) {
    text-align: right;
    padding-right: 0;
}

ul.career-list {
    list-style: none;
    max-width: 90%;
    margin: 0 auto;
}

ul.career-list > li {
    text-align: left;
    color: #818786;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 15px;
    position: relative;
    left: 25px;
}

ul.career-list > li:before {
    content: "\f005"; /*fontAwesome Unicode - fa-star*/
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color:#ffcd37;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: -30px;
}

ul.responsiblities-list > li:before {
    content: "\f0b1"; /*fontAwesome Unicode - fa-briefcase*/
    color: #7d5f2d;
}

ul.publications-list > li:before {
    content: "\f02d"; /*fontAwesome Unicode - fa-book*/
    color: #9bbb78;
}

.bg-career-history .career:not(first-child) {
    margin-top: 60px;
}

@media (min-width: 768px) {
    ul.career-title > li {
        font-size: 16px;
        padding-right: 5%;
    }

    .career > h4 {
        font-size: 16px;
        margin: 40px 0 20px 60px;
    }

    ul.career-list > li {
        font-size: 14px;
        left: 30px;
    }

    ul.career-list > li:before {
        font-size: 16px;
        left: -35px;
    }
}

@media (min-width: 992px) {
    ul.career-title > li {
        font-size: 18px;
        padding-right: 5%;
    }

    .career > h4 {
        font-size: 18px;
        margin: 40px 0 20px 60px;
    }

    ul.career-list > li {
        font-size: 16px;
        left: 30px;
    }

    ul.career-list > li:before {
        font-size: 18px;
        left: -35px;
    }
}

/*CAREER-END*/

/* GOOGLE-MAPS */

/*make map visible and center on page*/
#map {
    /*overflow: hidden !important;*/
    height: 400px;
    width: 80%;
    left: 10%;
}

/* GOOGLE-MAPS-END */

/* GITHUB */

.github-form {
	position: relative;
	top: 30px;
	left: 0;
	margin-top: 5px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 440px;
}

.github-form > h4 {
    display: none;
}

#githubLink {
	font-size: 18px;
}

#githubUserName {
	/*position: relative;*/
	/*left: 50px;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	/*vertical-align: middle;*/
	/*display: inline-block;*/
	margin-bottom: 10px;
	width: 88%;
}

.github-info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -115%);
}

.github-info > label {
	display: block;
	max-width: 100%;
	margin-bottom: 10px;
	font-weight: 700;
	color: #405a74;
	font-size: 12px;
	font-style: italic;
}

#githubUserImg {
    display: none;
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-113%, -50%);*/
}

.github-avatar {
	width: 140px;
	height: 140px;
	border: 4px solid #405a74;
	border-radius: 12px;
}

/*#githubUserData > h2 {
	color: #99b4b0;
}*/

#githubUserData > h2 {
	color: #99b4b0;
	font-size: 14px;
	padding: 10px 0;
}

.gh-content > p {
	color: #99b4b0;
	font-style: italic;
	font-size: 14px;
}

#loader > img {
	width: 50px;
	position: relative;
	top: 20px;
	left: 10px;
}

#githubRepoData {
	position: relative;
	top: 180px;
	width: 100%;
	height: 240px;
	background-color: none; 
	overflow: hidden;
}

.small-name {
  font-size: 16px;
  color: #a9a9a9;
  font-style: italic;
}

/*.avi {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}*/

/*.avi img {
  border: 1px solid #ccc;
  padding: 3px;
}*/

.repo-list {
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 95%;
}

.repo-list > p {
	font-size: 12px;
	/*font-weight: bold;*/
	margin-left: 10px;
	display: inline-block;
	margin-bottom: 8px;
}

.repo-list ul {
  font-size: 1.2em;
}

.repo-list ul li {
  display: block;
}

.repo-list ul li a {
	font-weight: bold;
	font-size: 10px;
	padding: 5px 4px;
	display: block;
	float: left;
	margin-left: 10px;
	margin-bottom: 8px;
	text-decoration: none;
	border: 2px solid #202020;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #ff9f1e;
	background-color: #202020;
	/* background-image: -webkit-gradient(linear, left top, left bottom, from(#5597d8), to(#3673af)); */
	/* background-image: -webkit-linear-gradient(top, #5597d8, #3673af); */
	/* background-image: -moz-linear-gradient(top, #5597d8, #3673af); */
	/* background-image: -ms-linear-gradient(top, #5597d8, #3673af); */
	/* background-image: -o-linear-gradient(top, #5597d8, #3673af); */
	/* background-image: linear-gradient(top, #5597d8, #3673af); */
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
}

.repo-list ul li a:hover {
    color: #FF4C04;
    background-color: #000;
    border: 2px solid #405A74;
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#4b87c2), to(#396895));*/
    /*background-image: -webkit-linear-gradient(top, #4b87c2, #396895);*/
    /*background-image: -moz-linear-gradient(top, #4b87c2, #396895);*/
    /*background-image: -ms-linear-gradient(top, #4b87c2, #396895);*/
    /*background-image: -o-linear-gradient(top, #4b87c2, #396895);*/
    /*background-image: linear-gradient(top, #4b87c2, #396895);*/
}

.repo-list ul li a:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}

.repo-list ul li a span {
  font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
  font-size: 0.9em;
}

/*@media (min-width:351px) {
    .repo-list > p {
    	font-size: 12px;
    	font-weight: bold;
    	margin-left: 10px;
    	display: inline-block;
    	margin-bottom: 8px;
    }
}*/

@media (min-width:421px) {
    .github-form {
    	/*position: relative;*/
    	/*top: 30px;*/
    	/*left: 0;*/
    	/*margin-top: 5px;*/
    	/*width: 100%;*/
    	/*background-color: rgba(0, 0, 0, 0.5);*/
    	height: 420px;
    }

    #githubRepoData {
    	/*position: relative;*/
    	top: 220px;
    	/*width: 100%;*/
    	height: 200px;
    	background-color: #000;
    	/*overflow: hidden;*/
    }
}

/*styles for screens 450px and above*/
@media (min-width:450px) {
    .github-form {
    	/*position: relative;*/
    	/*top: 30px;*/
    	/*left: 0;*/
    	/*margin-top: 5px;*/
    	/*width: 100%;*/
    	/*background-color: rgba(0, 0, 0, 0.5);*/
    	height: 350px;
    }

    #githubUserImg {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-120%, -45%);
    }
    
    .github-info {
    	/*position: absolute;*/
    	/*top: 50%;*/
    	/*left: 50%;*/
    	transform: translate(5%, -45%);
    }
    
    .github-form > h4 {
        display: block;
    	font-size: 20px;
    	text-align: center;
    	padding: 45px 0 35px;
	}
	
	.github-info > label {
    	/*display: block;*/
    	/*max-width: 100%;*/
    	/*margin-bottom: 10px;*/
    	/*font-weight: 700;*/
    	/*color: #405a74;*/
    	font-size: 14px;
    	/*font-style: italic;*/
    }
	
	#githubUserData > h2 {
    	/*color: #99b4b0;*/
    	font-size: 18px;
    	/*padding: 10px 5px;*/
    }
    
    .repo-list > p {
    	font-size: 14px;
    	font-weight: bold;
    	margin-left: 12px;
    	display: inline-block;
    	margin-bottom: 10px;
    }
    
    #githubRepoData {
    	/*position: relative;*/
    	top: 200px;
    	/*width: 100%;*/
    	height: 240px;
    	/*background-color: #000;*/
    	/*overflow: hidden;*/
    }

    .repo-list ul li a {
      /*font-weight: bold;*/
         font-size: 12px;
         padding: 4px 6px;
      /*display: block;*/
      /*float: left;*/
         margin-left: 12px;
         margin-bottom: 10px;
      /*text-decoration: none;*/
      /*border: 2px solid #202020;*/
      /*-webkit-border-radius: 2px;*/
      /*-moz-border-radius: 2px;*/
      /*border-radius: 2px;*/
      /*color: #ff9f1e;*/
      /*background-color: #202020;*/
      /*background-image: -webkit-gradient(linear, left top, left bottom, from(#5597d8), to(#3673af));*/
      /*background-image: -webkit-linear-gradient(top, #5597d8, #3673af);*/
      /*background-image: -moz-linear-gradient(top, #5597d8, #3673af);*/
      /*background-image: -ms-linear-gradient(top, #5597d8, #3673af);*/
      /*background-image: -o-linear-gradient(top, #5597d8, #3673af);*/
      /*background-image: linear-gradient(top, #5597d8, #3673af);*/
        /*transition: all .25s ease-in-out;*/
        /*-webkit-transition: all .25s ease-in-out;*/
        /*-moz-transition: all .25s ease-in-out;*/
        /*-o-transition: all .25s ease-in-out;*/
    }
    
}

/*styles for screens 570px and above*/
@media (min-width:570px) {
    #githubRepoData {
    	/* position: relative; */
    	/*top: 200px;*/
    	/* width: 100%; */
    	height: 210px;
    	/* background-color: #000; */
    	/* overflow: hidden; */
    }
}

/*styles for screens 768px and above*/
@media (min-width:768px) {
    .github-form {
    	/*position: relative;*/
    	/*top: 25px;*/
    	/*left: 0;*/
    	/*margin-top: 40px;*/
    	/*width: 100%;*/
    	/*background-color: rgba(0, 0, 0, 0.5);*/
    	/*height: 330px;*/
    }
    .github-form > h4 {
    	/*display: block;*/
    	font-size: 22px;
    	/*text-align: center;*/
    	padding: 40px 0;
    }
    
    #githubRepoData {
    	/*position: relative;*/
    	top: 248px;
    	/*width: 100%;*/
    	height: 220px;
    	/*background-color: #000;*/
    	/*overflow: hidden;*/
    }

    #githubUserImg {
        /*display: block;*/
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/
        transform: translate(-120%, -34%);
    }
    .github-avatar {
        width: 180px;
        height: 180px;
        /*border: 4px solid #405a74;*/
        /*border-radius: 12px;*/
    }
    
    .github-info {
    	/*position: absolute;*/
    	/*top: 50%;*/
    	/*left: 50%;*/
    	transform: translate(12%, -34%);
    }

    .github-info>label {
        /* display: block; */
        /* max-width: 100%; */
        /* margin-bottom: 10px; */
        /* font-weight: 700; */
        /* color: #405a74; */
        font-size: 18px;
        /* font-style: italic; */
    }

    #githubUserData>h2 {
        /* color: #99b4b0; */
        font-size: 20px;
        /* padding: 10px 5px; */
    }

    .small-name {
      font-size: 18px;
      /*color: #a9a9a9;*/
      /*font-style: italic;*/
    }

    .gh-content > p {
    	/*color: #99b4b0;*/
    	/*font-style: italic;*/
    	font-size: 16px;
    }
}

/*styles for screens 992px and above*/
@media (min-width:992px) {
    .github-form {
    	/*position: relative;*/
    	/*top: 25px;*/
    	/*left: 0;*/
    	/*margin-top: 40px;*/
    	/*width: 100%;*/
    	/*background-color: rgba(0, 0, 0, 0.5);*/
    	height: 360px;
    }

    .github-form > h4 {
    	/*display: block;*/
    	font-size: 26px;
    	/*text-align: center;*/
    	/*padding: 30px 0 50px;*/
    }
    
    #githubLink {
    	font-size: 20px;
    }
    
    #githubUserImg {
    	/* display: block; */
    	/* position: absolute; */
    	/* top: 50%; */
    	/* left: 50%; */
    	transform: translate(-120%, -42%);
    }
 
    .github-info {
    	/*position: absolute;*/
    	/*top: 50%;*/
    	/*left: 50%;*/
    	transform: translate(12%, -42%);
    }

    #githubUserData > h2 {
    	/* color: #99b4b0; */
    	font-size: 22px;
    	/* padding: 10px 5px; */
    }
    
}

/* GITHUB-END */

/*CONTACT*/

.bg-contact {
    color: #FFCD37;
}

.form {
    margin: 0 auto 20px;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ffcd37;
}

.form-input {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 2.5;
    color: #222;
    background-color: #b3aea0;
    border: 4px solid #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    font-weight: bold;
}

.form-input:focus {
    background-color: #E9BC83;
    border: solid 4px #eee;
    transition: all .75s ease-in-out;
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
}

/*remove orange background color when not in focus*/
.form-input:not(:focus) {
    color: #222;
    transition: all .75s ease-in-out;
    -webkit-transition: all .75s ease-in-out;
    -moz-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
}

.form-input:placeholder {
    color: #000;
    opacity: 1;
}

input.form-input {
    height: 30px;
    width: 85%;
    display: block;
}

textarea.form-input {
    height: 200px;
    width: 85%;
    display: block;
}

@media (min-width:410px) {
    input.form-input,
    textarea.form-input {
        width: 95%
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}

.btn-submit, .btn-reset {
    background-color: #202020;
    color: #ff9f1e;
    font-size: 14px;
    padding: 8px 18px;
    border: solid 2px transparent;
    border-radius: 4px;
    margin-right: 12px;
}

.btn-submit:hover, .btn-reset:hover {
    background-color: #000;
    border: 2px solid #405A74;
    color: #FF4C04;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

/*CONTACT-END*/

/*FOOTER*/

footer {
    background-color: #000;
    padding: 50px 0;
}

#copyRight {
    color: #818786;
    font-size: 14px;
    text-align: center;
}

/*FOOTER-END*/